<div class="picpal-root fill-page">
  <div class="form-container-2">
  <h2 class="page-title">edit <%= @movie.name %></h2>

  <%= simple_form_for(@movie) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :genre %>
      <%= f.input :image_url %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <br>
    <div class="inline center-text">
      <%= link_to movie_path(@movie.id), method: "delete", class: "opaque center-button" do %>
        <button>Delete <%= @movie.name %></button>
      <% end %>
    </div>
  </div>

</div>
