<style>
  body {
    background-image: url('<%= @movie.image_url %>');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="form-container-show">
  <h2><%= @movie.name %></h2>
  <h6><%= @movie.genre %></h6>
  <div class="two-column">

    <div class="left-column">
      <% if @events.size > 0 %>
        <h5>Upcoming Events</h5>
          <% @events.each do |e| %>
            <%= e.title %> | <%= e.datetime.strftime("%A, %m/%d/%Y") %> | <%= e.datetime.strftime("%I:%M%p") %>
          <% end %>
      <% else %>
        <h5>No Upcoming Events</h5>
      <% end %>
      <%= link_to new_event_path, class: "opaque" do %>
        <button>Create an Event</button>
      <% end %>
    </div>

    <div class="right-column">
      <% if @movie.reviews.size > 0 %>
        <h5>Movie Reviews</h5>
          <% @movie.reviews.each do |r| %>
            Review Here
          <% end %>
      <% else %>
        <h5>No Reviews Yet</h5>
      <% end %>
      <%= link_to new_movie_review_path(@movie.id), class: "opaque" do %>
        <button>Add a Review</button>
      <% end %>
    </div>

  </div>
</div>

<div class="inline center-text">
  <%= link_to edit_movie_path(@movie.id), class: "opaque center-button" do %>
    <button>Edit <%= @movie.name %></button>
  <% end %>
</div>
