<style>
  body {
    background-image: url('<%= @movie.image_url %>');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="form-container-show">
  <br>
  <h2><%= @movie.name %></h2>
  <h6><%= @movie.genre %></h6>
  <br><br>
  <div class="two-column">

    <div class="left-column">
      <% if @events.first == nil %>

        <h5>No Upcoming Events</h5>

      <% else %>

        <h5>Upcoming Events</h5><br>
          <% @events.each do |e| %>
            <%= link_to event_path(e.id), class: "opaque" do %>
              <span>
                <%= e.title %> |  <%= e.location %>
                <br>
                <%= e.datetime.strftime("%A, %m/%d/%Y") %> | <%= e.datetime.strftime("%I:%M %p") %>
              </span>
            <% end %>
            <br>
          <% end %>

      <% end %>
      <br>
      <%= link_to new_event_path, class: "opaque" do %>
        <button>Create an Event</button>
      <% end %>
    </div>

    <div class="right-column">
      <% if @movie.reviews.size > 0 %>
        <h5>Movie Reviews</h5><br>
          <% @movie.reviews.each do |r| %>
            <div class="review-card">
              <span class="review-info">
                <% r.rating.times do %>
                  <%= stars %>
                  <% end %>
                  <h6><%= r.title %></h6>
                <p><%= r.description %></p>
              </span>
              <span class="reviewer-info">
                <p><%= r.reviewer.username %></p>
              </span>
            </div>
            <br>
          <% end %>
      <% else %>
        <h5>No Reviews Yet</h5>
      <% end %>
      <br>
      <% if @watched.size == 0 %>
        <%= simple_form_for(@new_watch) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :movie_id, as: :hidden, input_html: { value: @movie.id } %>
            <%= f.input :watched, as: :hidden, input_html: { value: false } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Want to See" %>
          </div>
        <% end %>

        <%= simple_form_for(@new_watch) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :movie_id, as: :hidden, input_html: { value: @movie.id } %>
            <%= f.input :watched, as: :hidden, input_html: { value: true } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Seen" %>
          </div>
        <% end %>

      <% elsif @update_watched.watched == true %>

        <%= simple_form_for(@update_watched) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :movie_id, as: :hidden, input_html: { value: @movie.id } %>
            <%= f.input :watched, as: :hidden, input_html: { value: false } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Haven't Seen" %>
          </div>
        <% end %>

      <% else %>
      
        <%= simple_form_for(@update_watched) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :movie_id, as: :hidden, input_html: { value: @movie.id } %>
            <%= f.input :watched, as: :hidden, input_html: { value: true } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Seen" %>
          </div>
        <% end %>

      <% end %>
      <% binding.pry %>
      <% if @watched.size > 0 && @update_watched.watched == true %>
        <%= link_to new_movie_review_path(@movie.id), class: "opaque" do %>
          <button>Add a Review</button>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<div class="inline center-text">
  <%= link_to edit_movie_path(@movie.id), class: "opaque center-button" do %>
    <button>Edit <%= @movie.name %></button>
  <% end %>
</div>
