<style>
  body {
    background-image: url('https://images.unsplash.com/photo-1512149177596-f817c7ef5d4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1545&q=80');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="form-container-1">
  <% if @movie == nil %>
    <h2 class="center-text">add new event</h2>

    <%= simple_form_for(@event) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :host_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :title %>
        <%= f.input :datetime %>
        <%= f.input :location %>
        <%= f.input :movie_id %>
        <%# <%= f.input :movie_id, as: :select #need to correct dropdown menu with list of movies %>
      </div>

      <div class="form-actions">
        <center><%= f.button :submit, "Create" %></center>
      </div>
    <% end %>

  <% else %>

    <h2 class="center-text">add new event for <%= @movie.name %></h2>

    <%= simple_form_for(@event) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :host_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :title %>
        <%= f.input :datetime %>
        <%= f.input :location %>
        <%= f.input :movie_id, as: :hidden, input_html: { value: params[:id] } %>
      </div>

      <div class="form-actions">
        <center><%= f.button :submit, "Create" %></center>
      </div>
    <% end %>
  <% end  %>

</div>
