<style>
  body {
    background-image: url('<%= @movie.image_url %>');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="form-container-show">
  <br>
  <h2><%= @event.title %></h2>
  <h6><%= @event.location %></h6>
  <h6><%= @event.datetime.strftime("%A, %m/%d/%Y") %> | <%= @event.datetime.strftime("%I:%M %p") %></h6>

  <br>
  <div class="two-column">

    <div class="left-column">
      <h5>Attendee List</h5>
      <br>
      <% if @event.attendees.size > 0 %>

          <% @event.attendees.each do |a| %>
            <% binding.pry %>
            <%= a.username %>
            <% if a.username == current_user.username %>
                <%= link_to guestlist_path(@guest.id), method: "delete",class: "opaque center-button" do %>
                  <button>X</button>
                  <br>
                <% end %>
            <% end %>
          <% end %>

      <% else %>
          <p>No Guests Yet</p>
      <% end %>

      <!-- # form to add to attending list -->
      <% if @event.attendees.include?(current_user) == false %>

        <%= simple_form_for(@click_to_attend) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :event_id, as: :hidden, input_html: { value: @event.id } %>
            <%= f.input :attendee_id, as: :hidden, input_html: { value: current_user.id } %>
          </div>

          <div class="form-actions">
            <center><%= f.button :submit, 'Attend' %></center>
          </div>
        <% end %>

      <% end %>

    </div>

    <div class="right-column">
      <h5> Comments </h5>
      <br>
      <% @comments.each do |c| %>
        <div class="bubble-card">
          <span class="comment-card">
            <% @comments.each do |c| %>
              <p> <%= c.description %> <br>
                - <%= commenting_username(c.user_id) %>
              </p>
            <% end %>
          </span>
        </div>
      <% end %>

      <% if @guest == current_user %>
          <div class="bubble-card">
            <%= simple_form_for(@comment) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
                <%= f.input :event_id, as: :hidden, input_html: {value: @event.id } %>
                <%= f.input :description, label: false %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Add Comment" %>
              </div>
            <% end %>
          </div>
      <% end %>

    </div>
  </div>
</div>

<% if current_user == @event.host %>
  <div class="inline center-text">
    <%= link_to edit_event_path(@event.id), class: "opaque center-button" do %>
      <button>Edit <%= @event.title %></button>
    <% end %>
  </div>
  <% end %>
